{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="row">
          <a href="/appnotasescola/"><img width="300px;" heigth="250px;" src="{% static 'images/N.png' %}" </a>
    </div>
        {% block content %}

        {% endblock %}
    {% block body %}
    {% endblock %}
</body>
</html>