{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
     {% block head %}
    
    <title>Base</title>
    <link rel="stylesheet" type="text/css" href={% static "/styles.css" %}>
    
    {% endblock %}
</head>
<body>
    <div class="">
          <a href="/appnotasescola/"><img width="200;" heigth="200;" src="{% static 'images/N.png' %}" /> </a>
        <nav id="menu-top">
         <ul>
         <li> <a href="/appnotasescola/"> Home </a> </li>
         </ul>
         </nav> 
    
    </div>
        {% block content %}

        {% endblock %}
    {% block body %}
    {% endblock %}
</body>
</html>