{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name= "viewport" content="width-device-width, initial-scale-1.0">
    <meta http-equiv= "x-UA-Compatible" content="ie-edge">
    
    
    <title>{% block head %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "C:\Users\Jr França\Desktop\Fabiano\Appnotasescola\appnotasescola\appnotasescola\static\css\styles.css" %}">
    
</head>
<body>
    <p>Barra de Navegação</p>
        {% block content %}

        {% endblock %}
        <p>Rodapé de página</p>
        
    {% block body %}
    {% endblock %}
</body>
</html>