{% extends 'base.html' %}
{% load static %}

{% block head %}
 
    Página Inicial

{% endblock %}

{% block title %} App Notas {% endblock %}

{% block content %} 
     <h1>Bem vindo!</h1>

     <p>Este é um aplicativo desenvolvido pelos alunos do curso de Tecnologia da Informação da Univesp.</p> 

     <p>Aqui, você professor, tem uma ferramenta Web para auxiliar na avaliação de desempenho
     dos estudantes. Acessando as plataformas da Secretaria do Estado de São Paulo:
     O SED ( Secretaria Escolar Digital ) e o CAEd para coleta de notas e cálculo de média. </p>

     <p>Crie o seu login em cadastro e acesse.</p>
     <img src= {% static 'images/N.png' %} />
     {% endblock %}





