{% extends 'base.html' %}
{% load static %}

{% block head %}
 
    Página Inicial

{% endblock %}

{% block title %} App Notas {% endblock %}

{% block content %} 
    {% if user.is_authenticated %}
    Olá {{ user.username }}
    !
    <p>Sim você está logado</p>

<h1>Média de Alunos</h1>
    
<table class="table table-dark">
  <thead>
    <tr>
      <th>Cód do Aluno</th>
      <th>Nome Aluno</th>
      <th>Nota CAEd</th>
      <th>Nota SED</th>
      <th>Média</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div class="field">
            <label for="media"></label>
            <input type="text" id="nome" name="nome" placeholder="digite código" required>
        </div></td>
      <td><div class="field">
            <label for="media"></label>
            <input type="text" id="nome" name="nome" placeholder="Campo Nome" required>
        </div></td>
      <td><p><a href="https://avaliacaoemonitoramentosaopaulo.caeddigital.net/#!/minhapagina">nota</a></p></td>
      <td><a href="https://sed.educacao.sp.gov.br">nota</a></p></td>
      <td><div class="field">
            <label for="media"></label>
            <input type="text" id="nome" name="nome" placeholder="valor da media*" required>
        </div></td>
    </tr>
    <tr>
      <td><div class="field">
            <label for="media"></label>
            <input type="text" id="nome" name="nome" placeholder="digite código" required>
        </div></td>
      <td><div class="field">
            <label for="media"></label>
            <input type="text" id="nome" name="nome" placeholder="Campo Nome" required>
        </div></td>
      <td><p><a href="https://avaliacaoemonitoramentosaopaulo.caeddigital.net/#!/minhapagina">nota</a></p></td>
      <td><a href="https://sed.educacao.sp.gov.br">nota</a></p></td>
      <td><div class="field">
            <label for="media"></label>
            <input type="text" id="nome" name="nome" placeholder="valor da media*" required>
        </div></td>
    </tr>
    <tr>
      <td><div class="field">
            <label for="media"></label>
            <input type="text" id="nome" name="nome" placeholder="digite código" required>
        </div></td>
      <td><div class="field">
            <label for="media"></label>
            <input type="text" id="nome" name="nome" placeholder="Campo Nome" required>
        </div></td>
      <td><p><a href="https://avaliacaoemonitoramentosaopaulo.caeddigital.net/#!/minhapagina">nota</a></p></td>
      <td><a href="https://sed.educacao.sp.gov.br">nota</a></p></td>
      <td><div class="field">
            <label for="media"></label>
            <input type="text" id="nome" name="nome" placeholder="valor da media*" required>
        </div></td>
    </tr>
  </tbody>
</table>







<style>
footer {
  text-align:center;
  padding: 3px;
  background-color: Darkgray;
  color: gray;
}
</style>
</head>
<body>

<footer>
  <p>
  <a href="https://avaliacaoemonitoramentosaopaulo.caeddigital.net/#!/pagina-inicial"><button style="background: #069cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;">CAEd</button></a>
  <a href="https://sed.educacao.sp.gov.br/"><button style="background: #069cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;">SED</button></a></p>
</footer>

    {% else %}
    

     <h1>Bem vindo!</h1>

     <p>Este é o protótipo de um aplicativo desenvolvido pelos alunos do curso de Tecnologia da Informação da Univesp.</p> 

     <p>Aqui, você professor, tem uma ferramenta Web para auxiliar na avaliação de desempenho
     dos estudantes. Acessando as plataformas da Secretaria do Estado de São Paulo:
     O SED ( Secretaria Escolar Digital ) e o CAEd para coleta de notas e cálculo de média. </p>

     <p>Crie o seu login em cadastro e acesse.</p>
    

     <img src= {% static 'images/N.png' %} />
     {% endif %}
     {% endblock %}





