{% extends 'base.html' %}
{% load static %}

{% block head %}
 
    Página Inicial

{% endblock %}

{% block title %} App Notas {% endblock %}

{% block content %} 
    {% if user.is_authenticated %}
    Olá {{ user.username }}
    !
    <p>Sim você está logado</p>

<h1>Média de Alunos</h1>
    
<table class="table table-dark">
  <thead>
    <tr>
      <th>Cód</th>
      <th>Nome Aluno</th>
      <th>Nota CAEd</th>
      <th>Nota SED</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Joao</td>
      <td><p><a href="https://avaliacaoemonitoramentosaopaulo.caeddigital.net/#!/minhapagina">nota</a></p></td>
      <td><a href="https://sed.educacao.sp.gov.br">nota</a></p></td>
    </tr>
    <tr>
      <th>2</th>
      <td>Jose</td>
      <td><p><a href="https://avaliacaoemonitoramentosaopaulo.caeddigital.net/#!/minhapagina">nota</a></p></td>
      <td><a href="https://sed.educacao.sp.gov.br">nota</a></p></td>
    </tr>
    <tr>
      <th>3</th>
      <td>Alan</td>
      <td><p><a href="https://avaliacaoemonitoramentosaopaulo.caeddigital.net/#!/minhapagina">nota</a></p></td>
      <td><a href="https://sed.educacao.sp.gov.br">nota</a></p></td>
    </tr>
  </tbody>
</table>







<style>
footer {
  text-align:left;
  padding: 3px;
  background-color: Darkgray;
  color: gray;
}
</style>
</head>
<body>

<footer>
  <p>
  <a href="https://https://https://avaliacaoemonitoramentosaopaulo.caeddigital.net/#!/pagina-inicial//">Site CAEd</a></p>
  <a href="https://sed.educacao.sp.gov.br/">Site SED</a></p>
</footer>

    {% else %}
    

     <h1>Bem vindo!</h1>

     <p>Este é um protótipo de um aplicativo desenvolvido pelos alunos do curso de Tecnologia da Informação da Univesp.</p> 

     <p>Aqui, você professor, tem uma ferramenta Web para auxiliar na avaliação de desempenho
     dos estudantes. Acessando as plataformas da Secretaria do Estado de São Paulo:
     O SED ( Secretaria Escolar Digital ) e o CAEd para coleta de notas e cálculo de média. </p>

     <p>Crie o seu login em cadastro e acesse.</p>
    

     <img src= {% static 'images/N.png' %} />
     {% endif %}
     {% endblock %}





