{% extends 'base.html' %}
{% load static %}

{% block head %}
 
    

{% endblock %}

{% block title %} Notas Alunos {% endblock %}

{% block content %} 
     <h1>O nosso objetivo é ser uma ferramenta muito útil aos professores!</h1>

     <p>Uma aplicação que verifica as notas dos alunos e responde com sua média para avaliação</p> 

     <a href="https://https://sed.educacao.sp.gov.br//">SED</a></p>

     <a href="https://https://https://avaliacaoemonitoramentosaopaulo.caeddigital.net/#!/pagina-inicial//"></a>CAEd</p>

       
     <img src= {% static 'images/N.png' %} />
     {% endblock %}

